.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0;
    width: clamp(300px, 60vw, 600px);
    text-decoration: none;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login-input{
    width: 100%;
    background-color: rgb(194, 253, 233);
    border: solid rgb(140, 240, 207);
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(35, 35, 66, 0.149), 0 1px 0 rgba(0, 0, 0, .02);
    height: 1.5rem;
}
.login-label{
    display: flex;
    justify-content: left;
    align-self: flex-start;
    font-size: 1em;
    font-family: Montserrat, monospace;
    text-decoration: none;
    margin-bottom: 6px;
    margin-top: 6px;
}
.login-submit{
    background-color: #33ce00;
    opacity: 55%;
    border: 0;
    width: 60%;
    text-decoration: none;
    color: white;
    font-size: medium;
    margin-bottom: 6px;
    margin-top: 6px;
}
.login-submit-active{
    background-color: #33ce00;
    opacity: 100%;
    border: 0;
    width: 60%;
    text-decoration: none;
    color: white;
    font-size: medium;
    margin-bottom: 6px;
    margin-top: 6px;
}