html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    min-height: 100vh;
    padding: 0%;
    margin: 0%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        "navbar"
        "login"
        "calendar"
        "footer";
    font-family: Montserrat, monospace;
}
/*Navbar*/
.navbar-container{
    grid-area: navbar;
    max-height: 80px;
    background-color: #33ce00;
    padding: 0;
    width: 100%;
    margin-bottom: 1rem;
}
.navbar-container ul{
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
}
ul .navbar-link:first-child{
    margin-right: auto;
}
.navbar-container .navbar-link{
    color: rgb(246, 246, 246);
    font-size: 1em;
    text-decoration: none;
    margin: 1em;
}

/*Footer*/
.footer-container{
    grid-area: footer;
    min-height: 32px;
    background-color: #259400;
    padding: 0;
    width: 100%;
    margin-bottom: 0;
    margin-top: 1rem;
}
.footer-container ul{
    display: flex;
    align-self: start;
    align-items: center;
    list-style: none;
    padding: 0;
}
.footer-container li{
    color: rgb(246, 246, 246);
    font-size: 1em;
    text-decoration: none;
    margin: 1em;
}

/*Login*/
.login-container{
    grid-area: login;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 0;
    text-decoration: none;
}
.login-form{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max(200px, 60%);
    max-width: 400px;
}
.login-input{
    display: flex;
    flex: 1;
    width: 100%;
    max-height: 1.5rem;
    background-color: rgb(194, 253, 233);
    border: solid rgb(140, 240, 207);
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(35, 35, 66, 0.149), 0 1px 0 rgba(0, 0, 0, .02);
    height: 1.5rem;
}
.login-label{
    display: flex;
    justify-content: left;
    align-self: flex-start;
    font-size: 1em;
    text-decoration: none;
    margin-bottom: 6px;
    margin-top: 6px;
}
.login-submit{
    background-color: #33ce00;
    opacity: 55%;
    border: 0;
    width: 60%;
    text-decoration: none;
    color: rgb(246, 246, 246);
    font-size: medium;
    margin-bottom: 6px;
    margin-top: 6px;
}
.login-submit-active{
    background-color: #33ce00;
    opacity: 100%;
    border: 0;
    width: 60%;
    text-decoration: none;
    color: rgb(246, 246, 246);
    font-size: medium;
    margin-bottom: 6px;
    margin-top: 6px;
}
.login-submit-active:hover{
    background-color: #2fb802;
    box-shadow: 1 2px 4px rgba(35, 35, 66, 0.149), 0 1px 0 rgba(0, 0, 0, .02);
}

/*Regestration*/
.regestration-container{
    grid-area: login;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 0;
    text-decoration: none;
}
.regestration-form{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max(200px, 60%);
    max-width: 400px;
}
.regestration-input{
    display: flex;
    flex: 1;
    width: 100%;
    max-height: 1.5rem;
    background-color: rgb(194, 253, 233);
    border: solid rgb(140, 240, 207);
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(35, 35, 66, 0.149), 0 1px 0 rgba(0, 0, 0, .02);
    height: 1.5rem;
}
.regestration-label{
    display: flex;
    justify-content: left;
    align-self: flex-start;
    font-size: 1em;
    text-decoration: none;
    margin-bottom: 6px;
    margin-top: 6px;
}
.regestration-submit{
    background-color: #33ce00;
    opacity: 55%;
    border: 0;
    width: 60%;
    text-decoration: none;
    color: rgb(246, 246, 246);
    font-size: medium;
    margin-bottom: 6px;
    margin-top: 6px;
}
.regestration-submit-active{
    background-color: #33ce00;
    opacity: 100%;
    border: 0;
    width: 60%;
    text-decoration: none;
    color: rgb(246, 246, 246);
    font-size: medium;
    margin-bottom: 6px;
    margin-top: 6px;
}
.regestration-submit-active:hover{
    background-color: #2fb802;
    box-shadow: 1 2px 4px rgba(35, 35, 66, 0.149), 0 1px 0 rgba(0, 0, 0, .02);
}

/*Calendar*/
.arrows{
    width: 1rem;
    height: 1rem;
    border: 0px;
}
.calendar-button{
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
    border: 0px;
    border-radius: 40%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: #2fbc01;
}
.calendar-button:hover{
    cursor: pointer;
    background-color: #34b10b;
}
.calendar-button:active{
    background-color: #238d00;
}
.calendar-container{
    grid-area: calendar;
    display: grid;
    flex-direction: column;
    background-color: rgb(246, 246, 246);
    padding: 0%;
    border: solid #000;
    border-width: 1%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.calendar-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #33ce00;
    justify-content: space-between;
    color: rgb(246, 246, 246);
}
.calendar-week{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    align-items: center;
    padding: 0;
}
.calendar-week li{
    display: grid;
    text-align: center;
    font-size: 100%;
    padding: 0;
}
.month-dates{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    align-items: center;
    padding: 0;
    gap: 1rem;
}
.month-dates li{
    text-align: center;
    padding: 0;
    font-size: 1.5rem;
    padding: 0;
    cursor: pointer;
}
.month-dates li:hover{
    background-color: rgb(208, 208, 208);
}
.month-dates li:active{
    background-color: rgb(162, 162, 162);
}